#pai {
    width: 100%;
}

#barraSuperior {

    float: left;

    background-color: #4CAF50;
    height: 70px;
    width: 100%;
    position: fixed;
    border: #000000 3px solid;
    border-radius: 10px;
    top: 0;
    left: 0;
    z-index: 1;

}

#barraSuperior span {
    color: white;
    font-size: xx-large;
    margin-left: 10px;
    /* margin-bottom: 100px; */
    /* margin-top: 100px; */
}

#barraSuperior button {
    background-color: #000000;
    color: white;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 10px;
    width: 60%;
    box-sizing: border-box;
}

#barraSuperior button:hover {
    background-color: #555;
}

 /* #keys td {
    width: 10%;
    padding: 10px;
    border: 2px solid black;
    background-color: black;
    text-align: start;
    color: #000000;
} */


/* #keys input[type="text"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: -30%;
    border: 2px solid #000000;
    font-size: large;
}  */

#botao {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    cursor: pointer;
    margin-left: 23%;
    margin-right: -35%;
    font-size: large;
} 

#botao:hover {
    background-color: #555;
}

#tokenButton {
    font-size: larger;
}


#token {
    width: 25%;
    height: 700px;
    margin-top: 60px;
    margin-left: 200px;
    /* margin: auto auto; */
    /* text-align: center; */
    background-color: white;
}

#token input[type="text"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: auto;
    border: 2px solid #000000;
    font-size: large;
}

#token p {
    font-size: large;
    margin-bottom: 20px;
    color: black;
    font-weight: bold;
    text-align: center;
}

#area {
    font-size: xx-large;
    margin-bottom: 0px;
    margin-top: 20px;
    color: black;
    font-weight: bold;
}

#token button {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 10px;
    width: 50%;
    box-sizing: border-box;
}

#token button:hover {
    background-color: #105714;
}

/*  colocar esta div com um retangulo a direita*/
#wallet {
    position: relative;
    float: right;
    width: 210%;
    /* margin-left:300px; */
    right: -880px;
    height: 600px;
    bottom: 600px;

    box-sizing: border-box;
    /* margin-bottom: 1000px;*/
    /* text-align: center; */
    background-color: white;
}

#wallet h1 {
    color: black;
}

#wallet span {
    color: black;
    font-size: large;
    font-weight: bold;
}

#console-log {

    color: black;
}
